<!DOCTYPE html>
<html>
<head>
  <title>MealsOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav>
    <a href="/">About</a>
    <a href="/posts">Posts</a>
    <a href="/posts/new">Create Post</a>
  </nav>
  <%= yield %>
</div>
</body>
</html>
