<h1>Welcome To Meals Overflow</h1>
<h2 class="about">About Meals Overflow</h2>
<div class="about">

<p>  General Assembly Project 1: A rails application that allows users to post leftovers food. The purpose of this application is to conserve wasted food; rather than throwing away leftover, why not posted online and see if your fellow neighborhood bargain hunters would like to take a cheap or free meal? Users who post food can also ask or a gold coin donation, and in return from sharing their leftovers, they can receive critique and praise for their cooking skills.
</p>
  <h3> Models</h3>
<ul>
  <li>Users</li>
  <li>Reviews</li>
  <li>Posts</li>
</ul>


  <h3>Users</h3>
<ul>
  <li>
    Regular users that are not set as the admin can browse all current postings of food, and log into DISQUS to post comments and questions.
  </li>
  <li>
    To post leftovers, users must signup and log in or else they will be redirected to the homepage with an error message.
  </li>
  <li>
    Users that choose to contact the person who posted the leftover can also look at that user's reviews and ratings.
  </li>
  <li>
    Regular users that are not set as the admin can browse all current postings of food, and log into DISQUS to post comments and questions.
  </li>
  <li>
    To post leftovers, users must signup and log in or else they will be redirected to the homepage with an error message.
  </li>
  <li>
    Users can edit / delete only the posts they have created
  </li>
</ul>

  <h3>User: Admin</h3>
  <ul>
    <li>
      The user that is set as the admin can log in and edit/delete all posts on the App.
    </li>
    <li>
      When the admin is logged in, the index of all users will appear at the nav, and the nav can see everyone who has signed up.
    </li>
  </ul>

  <h3>Posts</h3>

  Users have the option to post leftover food, and list the following details:
<ul>
  <li>title</li>
  <li>Description</li>
  <li>Vegetarian (Yes/No via. a tick-box)</li>
  <li>Availability</li>
  <li>Portions</li>
  <li>Posted by (which User)</li>
</ul>

  <h3>Reviews</h3>

  <ul>
    <li>All can post reviews of other users, can give them a rating on a scale from 1-10</li>
    <li>All users can also see the first name of other user who made reviews. The reviews field has review scale based on a 1-10 scale and a comment section.
    </li>
  </ul>

</div>
