// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.userinfo, .all_reviews, .write_review{
  border-radius: 5px;
  border: 1px solid rgb(212, 212, 212);
  background-color: white;
  padding: 10%;
}

.userinfo button{
  float: right;
  margin-top: 5%;
}

h3{
  text-align: center;
}

span.rating {
  font-weight: bold;
  color: #E25525;
}

.userdetails p {
  font-size: 0.8em
}

.individual_reviews{
  border: 2px dotted grey;
  margin-top: 5%;
  padding: 5%;
}
