// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/









fieldset {
  border: none;
}



p.userprofileinfo {
  width: 50%;
}

.bold-orange {
  font-weight: bold;
  color: orange;
}

.usericon {
  width: 50px;
}

.userimage{
  float: left;
  width: 20%;
  margin-top: 5%
}

.userdetails{
  float: left;
  width: 75%;
  line-height: 1;
}

.usersindex {
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.usershow{
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}
