<h1><%= @review.user %> Reviews</h1>
<div class="new_review">
  <% @reviews.each do |review| %>
    <div class="indextitle">
      <span>
        <span class="rating"><%= review.rating %></span>
        : <%=  review.comments %>
      </span>
    </div>
  <% end %>
</div>
